.body {
    background-image: linear-gradient(blue,pink);
}

.title {
    color: coral;
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

.header {
    background-color: chartreuse;
}

.button {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/2214px-How_to_use_icon.svg.png);
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.username {
    font-family: sans-serif;
}

.pw {
    font-family: sans-serif;
}