* {
    box-sizing: border-box;
}

body {
    background-color: #444;
    font-family: sans-serif;
}

main {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-container {
    background-color: #fff;
    width: 60vw;
}

.tasks-container h1 {
    text-align: center;
}

.tasks-container #task-input {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
}

.tasks-container .task-checkbox:checked + label {
    text-decoration: line-through;
}
